/00gnulib.m4
/absolute-header.m4
/alloca.m4
/btowc.m4
/eealloc.m4
/errno_h.m4
/extensions.m4
/gnulib-common.m4
/gnulib-tool.m4
/include_next.m4
/langinfo_h.m4
/localcharset.m4
/locale-fr.m4
/locale-ja.m4
/locale-zh.m4
/locale_h.m4
/localeconv.m4
/mbrtowc.m4
/mbsinit.m4
/mbstate_t.m4
/mbtowc.m4
/msvc-inval.m4
/multiarch.m4
/netinet_in_h.m4
/nl_langinfo.m4
/off_t.m4
/poll_h.m4
/raise.m4
/regex.m4
/sigaction.m4
/signal_h.m4
/signalblocking.m4
/socklen.m4
/sockpfaf.m4
/ssize_t.m4
/stdalign.m4
/stdbool.m4
/stddef_h.m4
/stdint.m4
/stdlib_h.m4
/strings_h.m4
/sys_socket_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/unistd_h.m4
/warn-on-use.m4
/wchar_h.m4
/wcrtomb.m4
/wctype_h.m4
/__inline.m4
/builtin-expect.m4
/limits-h.m4
/pthread_rwlock_rdlock.m4
