*~
autom4te.cache
ABOUT-NLS
build*/
confdefs.h
conftest.dir
configure
compile
ags_functional_server_test_cookie
mkinstalldirs
missing
ltmain.sh
stamp-h1
acsite.m4
test-driver
Makefile.in
unit-system-tests.mk.in
functional-system-tests.mk.in
ags/config.h.in
