*~
*.o
*.lo
*.la
*.sym
*.pc
*.gir
*.typelib

.deps
.dirstamp
docs/listings/*.c
.libs
ags/ags_api_config.h
ags/config.h
ags/object/ags_marshallers.list
ags/widget/ags_widget_marshallers.list
ags/stamp-h2
html

gsequencer
midi2xml

autom4te.cache
ABOUT-NLS
build*/
confdefs.h
conftest.dir
configure
compile
ags_functional_server_test_cookie
mkinstalldirs
missing
ltmain.sh
stamp-h1
acsite.m4
test-driver
Makefile.in
unit-system-tests.mk.in
functional-system-tests.mk.in
ags/config.h.in
