*~
autom4te.cache
ABOUT-NLS
confdefs.h
conftest.dir
configure
compile
ags_functional_server_test_cookie
mkinstalldirs
missing
ltmain.sh
stamp-h1
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/quot.sed
po/stamp-po
po/remove-potcdate.sin
po/insert-header.sin
po/\*.po
po/ChangeLog
po/Makevars.template
po/POTFILES.in
acsite.m4
test-driver
Makefile.in
unit-system-tests.mk.in
functional-system-tests.mk.in
ags/config.h.in
