[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=ags
Icon=/usr/local/share/gsequencer/icons/jumper.png
Name=Advanced Gtk+ Sequencer
Categories=AudioVideo;Editor;
