Tests: ags-integration-test
Depends: @builddeps@,
	 dpkg-dev,
	 fakeroot,
	 cmt,
	 swh-lv2,
	 fluid-soundfont-gm,
	 hydrogen-drumkits,
	 com.github.gsequencer.gsequencer,
	 pulseaudio,
Restrictions: isolation-container, allow-stderr
